[submodule "corpora/source/phc-winner-argon2"]
	path = corpora/source/phc-winner-argon2
	url = https://github.com/P-H-C/phc-winner-argon2.git
[submodule "corpora/source/beanstalkd"]
	path = corpora/source/beanstalkd
	url = https://github.com/kr/beanstalkd.git
[submodule "corpora/source/brubeck"]
	path = corpora/source/brubeck
	url = https://github.com/github/brubeck.git
[submodule "corpora/source/bspwm"]
	path = corpora/source/bspwm
	url = https://github.com/baskerville/bspwm.git
[submodule "corpora/source/cmark"]
	path = corpora/source/cmark
	url = https://github.com/jgm/cmark.git
[submodule "corpora/source/cmus"]
	path = corpora/source/cmus
	url = https://github.com/cmus/cmus.git
[submodule "corpora/source/dnspod-sr"]
	path = corpora/source/dnspod-sr
	url = https://github.com/DNSPod/dnspod-sr.git
[submodule "corpora/source/mpc"]
	path = corpora/source/mpc
	url = https://github.com/orangeduck/mpc.git
[submodule "corpora/source/dynomite"]
	path = corpora/source/dynomite
	url = https://github.com/Netflix/dynomite.git
[submodule "corpora/source/goaccess"]
	path = corpora/source/goaccess
	url = https://github.com/allinurl/goaccess.git
[submodule "corpora/source/hashcat"]
	path = corpora/source/hashcat
	url = https://github.com/hashcat/hashcat.git
[submodule "corpora/source/htop"]
	path = corpora/source/htop
	url = https://github.com/hishamhm/htop.git
[submodule "corpora/source/httpd"]
	path = corpora/source/httpd
	url = https://github.com/apache/httpd.git
[submodule "corpora/source/iodine"]
	path = corpora/source/iodine
	url = https://github.com/yarrick/iodine.git
[submodule "corpora/source/irssi"]
	path = corpora/source/irssi
	url = https://github.com/irssi/irssi.git
[submodule "corpora/source/glfw"]
	path = corpora/source/glfw
	url = https://github.com/glfw/glfw.git
[submodule "corpora/source/jq"]
	path = corpora/source/jq
	url = https://github.com/stedolan/jq.git
[submodule "corpora/source/ck"]
	path = corpora/source/ck
	url = https://github.com/concurrencykit/ck.git
[submodule "corpora/source/libfreenect"]
	path = corpora/source/libfreenect
	url = https://github.com/OpenKinect/libfreenect.git
[submodule "corpora/source/libimobiledevice"]
	path = corpora/source/libimobiledevice
	url = https://github.com/libimobiledevice/libimobiledevice.git
[submodule "corpora/source/jansson"]
	path = corpora/source/jansson
	url = https://github.com/akheron/jansson.git
[submodule "corpora/source/mozjpeg"]
	path = corpora/source/mozjpeg
	url = https://github.com/mozilla/mozjpeg.git
[submodule "corpora/source/leveldb"]
	path = corpora/source/leveldb
	url = https://github.com/google/leveldb.git
[submodule "corpora/source/lighttpd2"]
	path = corpora/source/lighttpd2
	url = https://github.com/lighttpd/lighttpd2.git
[submodule "corpora/source/lmdb"]
	path = corpora/source/lmdb
	url = https://github.com/LMDB/lmdb.git
[submodule "corpora/source/lxc"]
	path = corpora/source/lxc
	url = https://github.com/lxc/lxc.git
[submodule "corpora/source/libmill"]
	path = corpora/source/libmill
	url = https://github.com/sustrik/libmill.git
[submodule "corpora/source/nanomsg"]
	path = corpora/source/nanomsg
	url = https://github.com/nanomsg/nanomsg.git
[submodule "corpora/source/onion"]
	path = corpora/source/onion
	url = https://github.com/davidmoreno/onion.git
[submodule "corpora/source/libphenom"]
	path = corpora/source/libphenom
	url = https://github.com/facebook/libphenom.git
[submodule "corpora/source/radare2"]
	path = corpora/source/radare2
	url = https://github.com/radare/radare2.git
[submodule "corpora/source/snappy"]
	path = corpora/source/snappy
	url = https://github.com/google/snappy.git
[submodule "corpora/source/libsodium"]
	path = corpora/source/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "corpora/source/sophia"]
	path = corpora/source/sophia
	url = https://github.com/pmwkaa/sophia.git
[submodule "corpora/source/openssl"]
	path = corpora/source/openssl
	url = https://github.com/openssl/openssl.git
[submodule "corpora/source/sundown"]
	path = corpora/source/sundown
	url = https://github.com/vmg/sundown.git
[submodule "corpora/source/toxcore"]
	path = corpora/source/toxcore
	url = https://github.com/irungentoo/toxcore.git
[submodule "corpora/source/unicorn"]
	path = corpora/source/unicorn
	url = https://github.com/unicorn-engine/unicorn.git
[submodule "corpora/source/varnish-cache"]
	path = corpora/source/varnish-cache
	url = https://github.com/varnishcache/varnish-cache.git
[submodule "corpora/source/vlc"]
	path = corpora/source/vlc
	url = https://github.com/videolan/vlc.git
[submodule "corpora/source/vlfeat"]
	path = corpora/source/vlfeat
	url = https://github.com/vlfeat/vlfeat.git
[submodule "corpora/source/lthread"]
	path = corpora/source/lthread
	url = https://github.com/halayli/lthread.git
[submodule "corpora/source/tarantool"]
	path = corpora/source/tarantool
	url = https://github.com/tarantool/tarantool.git
[submodule "corpora/source/luna"]
	path = corpora/source/luna
	url = https://github.com/tj/luna.git
[submodule "corpora/source/lwan"]
	path = corpora/source/lwan
	url = https://github.com/lpereira/lwan.git
[submodule "corpora/source/lz4"]
	path = corpora/source/lz4
	url = https://github.com/Cyan4973/lz4.git
[submodule "corpora/source/masscan"]
	path = corpora/source/masscan
	url = https://github.com/robertdavidgraham/masscan.git
[submodule "corpora/source/mongrel2"]
	path = corpora/source/mongrel2
	url = https://github.com/mongrel2/mongrel2.git
[submodule "corpora/source/noeuclid"]
	path = corpora/source/noeuclid
	url = https://github.com/cnlohr/noeuclid.git
[submodule "corpora/source/p2pvc"]
	path = corpora/source/p2pvc
	url = https://github.com/mofarrell/p2pvc.git
[submodule "corpora/source/yajl"]
	path = corpora/source/yajl
	url = https://github.com/lloyd/yajl.git
[submodule "corpora/source/pianobar"]
	path = corpora/source/pianobar
	url = https://github.com/PromyLOPh/pianobar.git
[submodule "corpora/source/pngquant"]
	path = corpora/source/pngquant
	url = https://github.com/pornel/pngquant.git
[submodule "corpora/source/polipo"]
	path = corpora/source/polipo
	url = https://github.com/jech/polipo.git
[submodule "corpora/source/redis"]
	path = corpora/source/redis
	url = https://github.com/antirez/redis.git
[submodule "corpora/source/RetroArch"]
	path = corpora/source/RetroArch
	url = https://github.com/libretro/RetroArch.git
[submodule "corpora/source/shairport"]
	path = corpora/source/shairport
	url = https://github.com/abrasive/shairport.git
[submodule "corpora/source/stud"]
	path = corpora/source/stud
	url = https://github.com/bumptech/stud.git
[submodule "corpora/source/swoole-src"]
	path = corpora/source/swoole-src
	url = https://github.com/swoole/swoole-src.git
[submodule "corpora/source/tcpcopy"]
	path = corpora/source/tcpcopy
	url = https://github.com/session-replay-tools/tcpcopy.git
[submodule "corpora/source/tcpkali"]
	path = corpora/source/tcpkali
	url = https://github.com/machinezone/tcpkali.git
[submodule "corpora/source/http-parser"]
	path = corpora/source/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "corpora/source/tidy-html5"]
	path = corpora/source/tidy-html5
	url = https://github.com/htacg/tidy-html5.git
[submodule "corpora/source/tg"]
	path = corpora/source/tg
	url = https://github.com/vysheng/tg.git
[submodule "corpora/source/tmux"]
	path = corpora/source/tmux
	url = https://github.com/tmux/tmux.git
[submodule "corpora/source/toxic"]
	path = corpora/source/toxic
	url = https://github.com/JFreegman/toxic.git
[submodule "corpora/source/twemcache"]
	path = corpora/source/twemcache
	url = https://github.com/twitter/twemcache.git
[submodule "corpora/source/uzbl"]
	path = corpora/source/uzbl
	url = https://github.com/uzbl/uzbl.git
[submodule "corpora/source/vis"]
	path = corpora/source/vis
	url = https://github.com/martanne/vis.git
[submodule "corpora/source/watchman"]
	path = corpora/source/watchman
	url = https://github.com/facebook/watchman.git
[submodule "corpora/source/FreeRDP"]
	path = corpora/source/FreeRDP
	url = https://github.com/FreeRDP/FreeRDP.git
[submodule "corpora/source/yara"]
	path = corpora/source/yara
	url = https://github.com/VirusTotal/yara.git
[submodule "corpora/source/ZeroTierOne"]
	path = corpora/source/ZeroTierOne
	url = https://github.com/zerotier/ZeroTierOne.git
[submodule "corpora/source/zmap"]
	path = corpora/source/zmap
	url = https://github.com/zmap/zmap.git
[submodule "corpora/source/zstd"]
	path = corpora/source/zstd
	url = https://github.com/Cyan4973/zstd.git
