[submodule "corpora/source/phc-winner-argon2"]
	path = corpora/source/phc-winner-argon2
	url = https://github.com/P-H-C/phc-winner-argon2.git
[submodule "corpora/source/beanstalkd"]
	path = corpora/source/beanstalkd
	url = https://github.com/kr/beanstalkd.git
[submodule "corpora/source/brubeck"]
	path = corpora/source/brubeck
	url = https://github.com/github/brubeck.git
[submodule "corpora/source/bspwm"]
	path = corpora/source/bspwm
	url = https://github.com/baskerville/bspwm.git
[submodule "corpora/source/cmark"]
	path = corpora/source/cmark
	url = https://github.com/jgm/cmark.git
[submodule "corpora/source/cmus"]
	path = corpora/source/cmus
	url = https://github.com/cmus/cmus.git
[submodule "corpora/source/dnspod-sr"]
	path = corpora/source/dnspod-sr
	url = https://github.com/DNSPod/dnspod-sr.git
[submodule "corpora/source/mpc"]
	path = corpora/source/mpc
	url = https://github.com/orangeduck/mpc.git
[submodule "corpora/source/dynomite"]
	path = corpora/source/dynomite
	url = https://github.com/Netflix/dynomite.git
[submodule "corpora/source/goaccess"]
	path = corpora/source/goaccess
	url = https://github.com/allinurl/goaccess.git
[submodule "corpora/source/hashcat"]
	path = corpora/source/hashcat
	url = https://github.com/hashcat/hashcat.git
[submodule "corpora/source/htop"]
	path = corpora/source/htop
	url = https://github.com/hishamhm/htop.git
[submodule "corpora/source/httpd"]
	path = corpora/source/httpd
	url = https://github.com/apache/httpd.git
[submodule "corpora/source/iodine"]
	path = corpora/source/iodine
	url = https://github.com/yarrick/iodine.git
[submodule "corpora/source/irssi"]
	path = corpora/source/irssi
	url = https://github.com/irssi/irssi.git
[submodule "corpora/source/glfw"]
	path = corpora/source/glfw
	url = https://github.com/glfw/glfw.git
[submodule "corpora/source/jq"]
	path = corpora/source/jq
	url = https://github.com/stedolan/jq.git
[submodule "corpora/source/ck"]
	path = corpora/source/ck
	url = https://github.com/concurrencykit/ck.git
[submodule "corpora/source/libfreenect"]
	path = corpora/source/libfreenect
	url = https://github.com/OpenKinect/libfreenect.git
[submodule "corpora/source/libimobiledevice"]
	path = corpora/source/libimobiledevice
	url = https://github.com/libimobiledevice/libimobiledevice.git
[submodule "corpora/source/jansson"]
	path = corpora/source/jansson
	url = https://github.com/akheron/jansson.git
[submodule "corpora/source/mozjpeg"]
	path = corpora/source/mozjpeg
	url = https://github.com/mozilla/mozjpeg.git
[submodule "corpora/source/leveldb"]
	path = corpora/source/leveldb
	url = https://github.com/google/leveldb.git
[submodule "corpora/source/lighttpd2"]
	path = corpora/source/lighttpd2
	url = https://github.com/lighttpd/lighttpd2.git
[submodule "corpora/source/lmdb"]
	path = corpora/source/lmdb
	url = https://github.com/LMDB/lmdb.git
[submodule "corpora/source/lxc"]
	path = corpora/source/lxc
	url = https://github.com/lxc/lxc.git
[submodule "corpora/source/libmill"]
	path = corpora/source/libmill
	url = https://github.com/sustrik/libmill.git
[submodule "corpora/source/nanomsg"]
	path = corpora/source/nanomsg
	url = https://github.com/nanomsg/nanomsg.git
[submodule "corpora/source/onion"]
	path = corpora/source/onion
	url = https://github.com/davidmoreno/onion.git
[submodule "corpora/source/libphenom"]
	path = corpora/source/libphenom
	url = https://github.com/facebook/libphenom.git
[submodule "corpora/source/radare2"]
	path = corpora/source/radare2
	url = https://github.com/radare/radare2.git
[submodule "corpora/source/snappy"]
	path = corpora/source/snappy
	url = https://github.com/google/snappy.git
[submodule "corpora/source/libsodium"]
	path = corpora/source/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "corpora/source/sophia"]
	path = corpora/source/sophia
	url = https://github.com/pmwkaa/sophia.git
[submodule "corpora/source/openssl"]
	path = corpora/source/openssl
	url = https://github.com/openssl/openssl.git
[submodule "corpora/source/sundown"]
	path = corpora/source/sundown
	url = https://github.com/vmg/sundown.git
[submodule "corpora/source/toxcore"]
	path = corpora/source/toxcore
	url = https://github.com/irungentoo/toxcore.git
[submodule "corpora/source/unicorn"]
	path = corpora/source/unicorn
	url = https://github.com/unicorn-engine/unicorn.git
[submodule "corpora/source/varnish-cache"]
	path = corpora/source/varnish-cache
	url = https://github.com/varnishcache/varnish-cache.git
[submodule "corpora/source/vlc"]
	path = corpora/source/vlc
	url = https://github.com/videolan/vlc.git
[submodule "corpora/source/vlfeat"]
	path = corpora/source/vlfeat
	url = https://github.com/vlfeat/vlfeat.git
